body{
	display: flex;
	background-color: gray;
}

.product-item {
	background-color: #e7e7e7;
	display: inline-block;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
}

.amount {
	background-color: orange;
	border-radius: 13px;
	color: white;
	
	display: inline-block;
	height: 26px;
	width: 26px;
	text-align: center;
	line-height: 24px;
}

button {
	cursor: pointer;
}

.article1 {
	background-color: white;
	border-radius: 10px;
	padding-top: 15px;

	height: 280px;
	min-width: 490px;
	width: 60%;
}

.input, .goods {
	display: flex;
	box-sizing: border-box;
	margin-left: 15px;
	margin-right: 15px;

	height: 50px;
}
.input{
	margin-bottom: 15px;
}

.text-field {
	height: 100%;
	width: 80%;
	box-sizing: border-box;
	padding-left: 15px;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid lightgrey;

	font-size: 1em;
}

.add-button {
	background-color: #0085dd;
	box-sizing: border-box;

	width: 20%;
	height: 100%;
	color: white;
	border: 0;
	box-shadow: inset -1px -6px #0064dd;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	font: small-caps bold 120% sans-serif;
	position: relative;
}

.add-button::before, .add-button::after{
	--scale:0;
	position: absolute;
	top: 52px;
	left: 50%;
	transform: translateX(-50%) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: top center;

	content: attr(data-tooltip);
	color: white;
	text-align: center;
	width: 150px;
	background-color: purple;
	padding: 10px;
	border-radius: 5px;
}

.add-button:hover::before {
	--scale: 0.7;
}

.line {
	margin-bottom: 15px;
	margin-top: 15px;
	border: 1px solid #e7e7e7;
}

.goods {
	display: flex;
	justify-content: space-between;

	height: 40px;
}
.good-name, .good-name-line {
	width: 150px;
	line-height: 40px;
	font-size: 20px;
}
.good-name-line {
	text-decoration: line-through;
}

.plus-button, .minus-button, .button-hidden, .minus-button-disabled {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left: 5px;
	margin-right: 5px;

	color: white;
	border: 0;
	font: small-caps bold 180% sans-serif;
}

.button-hidden {
	visibility: hidden;
}
.minus-button-disabled {
	background-color: rgba(255, 0, 0, 0.30);
	cursor: default;
}

.button-panel{
	display: flex;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;

	box-sizing: border-box;
}

.plus-button {
	background-color: #00bd00;
	box-shadow: inset 0 -3px #008300;
	position: relative;
}
.plus-button::before{
	--scale:0;
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translateX(-50%) translateY(-100%) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;

	content: attr(data-tooltip);
	color: white;
	text-align: center;
	width: max-content;
	background-color: purple;
	padding: 10px;
	border-radius: 5px;
}
.plus-button:hover::before {
	--scale: 0.4;
}

.minus-button {
	background-color: red;
	box-shadow: inset 0 -3px #830000;
	padding-bottom: 10px;
	position: relative;
}
.minus-button::before{
	--scale:0;
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translateX(-50%) translateY(-100%) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;

	content: attr(data-tooltip);
	color: white;
	text-align: center;
	width: max-content;
	background-color: purple;
	padding: 10px;
	border-radius: 5px;
}
.minus-button:hover::before {
	--scale: 0.4;
}

.counter {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: #e7e7e7;
	margin-top: 5px;

	box-sizing: content-box;
	text-align: center;

	color: grey;
	font: small-caps bold 100% sans-serif;
	line-height: 30px;
}

.bought {
	background-color: #f0f0f0;
	width: 110px;
	height: 40px;
	border: 1px solid #cacaca;
	box-shadow: inset 0 -2px 1px #cacaca;
	border-radius: 5px;

	text-align: center;
	color: grey;
	font: small-caps bold 100% Calibri;
	line-height: 40px;
}

.bought-panel {
	display: flex;
	flex-direction: row-reverse;
	box-sizing: border-box;
	width: 150px;
	height: 40px;
	position: relative;
}

.delete-button {
	margin-left: 5px;

	background-color: red;
	width: 40px;
	height: 40px;
	border: 1px solid #B20000;
	box-shadow: inset 0 -2px 1px #B20000;
	border-radius: 3px;

	text-align: center;
	color:white;
	font: small-caps bold 100% Calibri;
	line-height: 35px;
}
.delete-button::before{
	--scale:0;
	position: absolute;
	top: -10%;
	left: 87%;
	transform: translateX(-50%) translateY(-100%) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;

	content: attr(data-tooltip);
	color: white;
	text-align: center;
	width: max-content;
	background-color: purple;
	padding: 10px;
	border-radius: 5px;
}
.delete-button:hover::before {
	--scale: 0.5;
}

.input-text {
	box-sizing: border-box;
	padding-left: 10px;
	border: 1px solid dodgerblue;
	box-shadow: 0 0 8px dodgerblue;
	outline: none;
	height: 30px;
	width: 150px;
}

.article2 {
	box-sizing: border-box;
	background-color: white;
	border-radius: 10px;
	margin-left: 15px;
	padding-top: 5px;

	height: 310px;
	min-width: 245px;
	max-width: 550px;
	width: 40%;
}

.h1-style {
	font: small-caps bold 160% sans-serif;
	padding-left: 25px;
}

.remain-panel {
	margin-left: 5px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: grey;
	font: small-caps bold 100% Calibri;
	line-height: 30px;
}

.badge {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: -65px;

	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: purple;
	transition: 0.8s;
}

.badge:hover {
	cursor: pointer;
	background-color: blue;
	translate: 0 -55px;
}

.badge-top {
	margin-top: 5px;
	width: 100%;
	height: 40%;

	color: white;
	font: small-caps bold 120% sans-serif;
	text-align: center;
}

.badge-bottom {
	box-sizing: border-box;
	padding-left: 11px;
	width: 100%;
	height: 60%;
	color: white;
	font: small-caps bold 65% sans-serif;
}

@media print {
	.badge-top {
		display: none;
	}
	.badge-bottom {
		color: black;
	}
	.badge {
		translate: 0 -5px;
		border: 3px solid purple;
		background-color: white;
		padding: 10px;
	}
}

@media (max-width: 770px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.article2 {
		margin-top: 20px;
		margin-left: 0;
		width:100%;
		min-width: 490px;
		max-width: none;
	}
	.article1 {
		width: 100%;
	}
}